<!DOCTYPE html>
<html>
  <head>
    <title>Inline Chat App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <style>
      <%= ".message-container-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-end;
      }
      
      <%= ".message-content-#{current_user&.id}" %> {
        background-color: #007bff !important;
        color: white !important;
      }
    </style>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class='wrapper'>
      <div class='content-wrapper px-4 py-2'>
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
